@page "/login/{CallingPage?}"

@inherits MvvmComponentBase<LoginViewModel>

<container>
    <div class="login">
        <h3>Welcome - Please Sign In</h3>

        @* <EditForm Model="@ViewModel.LoginInfo"> *@
        <fieldset>
            <SfTextBox Placeholder='Membership Number' @bind-Value="@ViewModel.LoginInfo.MembershipNumber" FloatLabelType='@FloatLabelType.Auto'></SfTextBox>
            <SfTextBox Placeholder='Pin' @bind-Value="@ViewModel.LoginInfo.Pin" Type="InputType.Password" FloatLabelType='@FloatLabelType.Auto'></SfTextBox>
            <div class="smt-submit">
                <SfButton type="submit"
                                    @onclick="() => ViewModel.LoginCommand.Execute(null)"
                                    Disabled="ViewModel.Submitting"
                                    CssClass="e-block e-primary">Sign In</SfButton>
            </div>
            @* <MvvmValidationSummary Context="ViewModel.LoginInfo"></MvvmValidationSummary> *@
        </fieldset>
        @* </EditForm> *@
    </div>
</container>

                                      @* Disabled="@(!ViewModel.LoginCommand.CanExecute(null))" *@

@code {
    [Parameter]
    public string CallingPage { get; set; } = "";

    protected override void OnInitialized()
    {
        ViewModel.Caller = CallingPage;
        base.OnInitialized();
    }
}
